@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #00a8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    background: white;
    padding: 30px 30px;
    min-width: 370px;
    max-width: 370px;
}

.wrapper .title {
    margin: 10px 0;
    border-left: 5px solid #00a8ff;
    padding-left: 5px;
    color: black;
    font-size: 25px;
}

.wrapper .form {
    margin: 10px 0;
}

.wrapper .form .input-field {
    width: 100%;
    display: block;
    margin: 10px 0;
}

.wrapper .form .input-field .input-label {
    display: block;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 15px;
}

.wrapper .form .input-field .input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s all ease;
}

.wrapper .form .input-field .input:focus {
    border-color: #00a8ff;
}

.wrapper .form .btn {
    background: #00a8ff;
    border: 1px solid #00a8ff;
    width: 100%;
    padding: 10px;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.3s all ease;
}

.wrapper .form .btn:hover, .wrapper .form .btn:focus {
    background: #0097e6;
}

.alert {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
}

.alert-danger {
    background: #e84118;
    color: white;
}

.alert-success {
    background: #4cd137;
    color: white;
}